*{
    margin: 0;
    padding: 0;
    font-family: 'Monsterrat', sans-serif;
}

#banner{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgb(76, 47, 204)), url(images/bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fffbfb;
    font-weight: 500;
}

nav ul li a:hover{
    color: blue
}

.info{
    margin-left: 8%;
    margin-top: 15%;
}

.info h1{
    font-size: 70px;
    color: #212121;
    margin-bottom: 10px;
}

.info p{
    color: #b8b8bd;
    line-height: 22px;
    font-size: 20px;
}

.banner-btn{
    margin: 30px auto 0;
}

.banner-btn a{
    width: 80px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px;
    color: #fff;
    border: 4px solid #fff;
    position: relative;
    /* border-radius: 25px; */
    z-index: 1;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    /* border-radius: 24px; */
    z-index: -1;
    transition: .5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #212121;
}

#about{
    height: 100vh;
    width: 100%;
    position: relative;
}

.half_rec{
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #000000;
    transform: rotate(45deg);
    transform-origin: 100% 10%;
    display: inline; 
    right: 100px;
    z-index: -5;
}

.flex_box{
    position: absolute;
    /* width:90% ; */
    height: 550px;
    margin: 30px 0 0 70px;
    display: flex;
    justify-content: space-around;
}

.flex_box .text{
    width: 35%;
    padding: 50px 0 0 15px  ;
    font-size: 25px;

}

.flex_box .text p{
    padding: 60px 0 0 0;
    text-align: left;
    font-size: 20px;
}

.flex_box .text button{
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    /* background:linear-gradient(rgba(0,0,0,0.2),rgb(76, 47, 204, 0.2));
    ; */
    border-radius: 20px;
}

.text button a{
    text-decoration: none;
    color: #040404;
    font-weight: 300;
    font-size: 20px;
    padding-top: 2px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.text button:hover,a:hover{
    width: 160px;
    color: #555;
}

.image img{
    height: 400px;
    width: 400px;
    margin-top: 170px;
}